$CONTENT_WIDTH: 1000px;
$CONTENT_MIN_WIDTH: 320px;

%comment-count-on-list {
    font-size: 12px;
    padding-left: .3rem;
    font-weight: 200;
    color: #aaa;
}

%underline-basic {
    content: ' ';
    width: 100%;
    margin-top: 2px;
    background-color: currentColor;
    height: .15em;
    position: absolute;
    left: 0;
    bottom: -.15em;
}

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}
