$CONTENT_WIDTH: 1000px;
$CONTENT_MIN_WIDTH: 320px;

%comment-count-on-list {
    font-size: 12px;
    padding-left: .3rem;
    font-weight: 200;
    color: #aaa;
}

%underline-basic {
    content: ' ';
    width: 100%;
    margin-top: 2px;
    background-color: currentColor;
    height: .15em;
    position: absolute;
    left: 0;
    bottom: -.15em;
}

%underline-slide {
    &::after {
        @extend %underline-basic;
        width: 0% !important;
        transition: width .32s linear, margin-left .32s linear;
        box-sizing: border-box;
        margin-left: 100%;
    }
                
    &:hover, &:focus {
        &::after {
            transition: width .32s linear;
            width: 100% !important;
            margin-left: 0%;
        }
    }
}

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}
