.content-body {
    a {
        color: var(--hl) !important;
    }

    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.1rem;
    }

    code, pre {
        background: rgba(200, 200, 200, .1);
        border: rgba(200, 200, 200, .35) 1px solid;
        box-sizing: border-box;
        
        &, * {
            font-family: monospace !important;
        }
    }

    code {
        padding: 3px 5px;
        white-space: nowrap;
        border-radius: 2px;
        margin: 0 2px;
    }

    & > table, :not(.another_category) table {
        border-spacing: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .06);

        thead { background-color: rgba(200, 200, 200, .6); }
        tr { background-color: rgba(200, 200, 200, .05); }
        tr:nth-child(2n) { background-color: rgba(200, 200, 200, .3); }

        th { line-height: 2.1; }
        td {
            padding: 5px 8px;
            vertical-align: bottom;
        }
    }

    .content-anchor {
        opacity: 0;
        position: absolute;
        margin-left: -.8em;

        &::after { display: none; }
    }

    .imageblock {
        span:not(.cap1) {
            display: block;
            
            img {
                border-radius: 3px;
                background-color: rgba(255, 255, 255, .4);
            }
        }

        .cap1 {
            text-align: center;
            color: #999;
            font-style: italic;
            font-size: .8rem;
        }
    }

    hr {
        margin-top: 40px;
        border: none;
        border-top: 1px solid rgba(160, 160, 160, .3);
        margin-bottom: 10px;
    }

    div.footnotes {
        margin-top: 40px;
        padding-top: 10px;
        border-top: 1px solid rgba(160, 160, 160, .3);
        
        li {
            &:target {
                animation: border-emphasize 2.5s infinite ease-in-out;
            }

            a:last-child {
                color: rgba(128, 128, 128, .7);
                transition: color .32s ease-in-out;

                &::after { display: none; }

                &:hover, &:focus { color: var(--hl); }
            }
        }
    }

    .hljs, pre {
        padding: 1.2em 1.4em;
        line-height: 1.5em;
        margin: 0;
        overflow-x: auto;

         & > span, & > code, & > div {
            padding-right: 1.4em;
            display: table;
        }

        br {
            display: none;
        }

        .hljs-comment {
            opacity: .4;
        }

        .hljs-keyword,
        .hljs-attribute,
        .hljs-selector-tag,
        .hljs-meta-keyword,
        .hljs-doctag,
        .hljs-name,
        .hljs-title,
        .hljs-section {
            font-weight: bold;
        }

        .hljs-type,
        .hljs-string,
        .hljs-number,
        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-quote,
        .hljs-template-tag,
        .hljs-deletion,
        .hljs-title,
        .hljs-section {
            color: var(--hl);
        }

        .hljs-regexp,
        .hljs-symbol,
        .hljs-variable,
        .hljs-template-variable,
        .hljs-link,
        .hljs-selector-attr,
        .hljs-selector-pseudo {
            color: var(--hl);
        }

        .hljs-literal {
            color: var(--hl);
        }

        .hljs-built_in,
        .hljs-bullet,
        .hljs-code,
        .hljs-addition {
            color: var(--hl);
        }

        .hljs-meta {
            color: var(--hl);
        }

        .hljs-meta-string {
            color: var(--hl);
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: bold;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            color: rgba(160, 160, 160, .7);
            text-align: right;
            font-size: 0.75em;
            padding: 5px 10px 0;
            line-height: 15px;
            height: 15px;
            font-weight: 600;
        }
    }
}

div[id^='tistoryFootnoteLayer_'] {
    font-size: 14px !important;

    *:not(a) {
        color: #222;
    }

    a {
        color: var(--hl);

        &:hover, &:focus {
            text-decoration: underline !important;
        }
    }
}
