@import "common";

article.guestbook {
    .gb-title {
        margin: 0.65em 0 0;
        color: var(--ul);
        font-size: 2rem;
    }

    section {
        & > ol {
            margin: 10px 0;
            padding: 0;

            li {
                padding: 10px;
                list-style: none;
                background: rgba(200, 200, 200, .2);
                
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                &:target {
                    animation: border-emphasize 1s infinite ease-in-out;
                }

                a {
                    color: var(--ul);
                }

                ol {
                    margin-top: 10px;
                    padding-left: 2.5rem;

                    li:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }

                p {
                    padding-left: 1em;

                    &:first-of-type {
                        margin-top: 5px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .name {
                    margin-right: .23rem;
                    font-weight: 700;
                }
                .date {
                    color: #999;
                }
                .control {
                    float: right;

                    a { margin-left: .334em; }
                    a.modify { color: #999; }
                    a.write { color: var(--hl); }
                }
            }
        }

        textarea {
            resize: vertical;
            width: 100%;
            min-height: 80px;
        }

        textarea, input, label {
            box-sizing: border-box;
            padding: 8px;
            background-color: transparent;
            color: var(--ul);
            border: 1px solid rgba(180, 180, 180, .3);

            &:not([type="submit"]) {
                margin-right: .3em;
            }

            &:focus, &:hover {
                border-color: var(--hl);
            }
        }

        .gb-personal {
            margin-top: 5px;
            width: 100%;
            display: flex;

            input[type="text"] { width: 50%; }
            input[type="password"] { width: calc(35% - .6em); }
            input[type="submit"] {
                transition: background-color .32s ease-in-out, color .32s ease-in-out;
                width: 15%;
                cursor: pointer;
                border: none;
                padding-top: 9px;
                padding-bottom: 9px;
                background-color: rgba(180, 180, 180, .3);
                color: var(--ul);
                
                &:hover, &:focus {
                    transition: none;
                    color: var(--ul);
                    background-color: var(--hl);
                }
                
                &:first-child {
                    margin-left: auto;
                }
            }
        }
    }
}
