@import "common";

article.tags {
    .tags-title {
        margin: 0.65em 0 0;
        color: var(--ul);
        font-size: 2rem;
    }

    .tags-list {
        ul {
            list-style: none;
            padding: 0;
            margin: 2rem 0;

            li {
                display: inline-block;
                margin: 5px 20px;

                a {
                    @extend %underline-slide;
                    color: var(--ul);
                    transition: color .32s ease-in-out;

                    &:hover, &:focus {
                        color: var(--hl);
                    }

                    &.cloud1 { font-size: 2rem; }
                    &.cloud2 { font-size: 1.8rem; }
                    &.cloud3 { font-size: 1.4rem; }
                    &.cloud4 { font-size: 1.1rem; }
                    &.cloud5 { font-size: .8rem; }
                }
            }
        }
    }
}
