@import "common";

html.dark {
  scrollbar-color: #666 #333;

  body {
    color: $COLOR_LIGHT;

    &, *:not(.no-dark) {
      --color-def: #{$COLOR_LIGHT};
      --color-inv: #{$COLOR_DARK};
    }

    header.global {
      background-color: $COLOR_DARK_H;

      #modarkbul {
        .container .border {
          background-color: #000000;
        }

        .icon.moon path {
          fill: #4f75b3;
        }

        .icon.sun path {
          fill: #edd326;
        }
      }
    }
  }
}
