@import "common";

aside {
    box-sizing: border-box;
    padding-top: 25px;

    & > div:not(#about-panel) {
        padding: 10px 0;
        width: 100%;

        .panel-title {
            border-left: 3px solid var(--hl);

            p {
                padding-left: 10px;
            }
        }
    }

    #about-panel {
        display: flex;
        position: relative;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;

        .info {
            max-width: calc(100% - 92px);

            .author {
                font-size: 18px;
                font-weight: 700;
            }

            .alternative {
                color: #666;
                font-size: 16px;
                font-weight: 200;
            }

            .description {
                color: #777;
                font-size: 14px;
                font-weight: 200;
                padding-top: 14px;
            }
        }

        .rss {
            position:absolute;
            top: 0;
            right: 0;

            &:hover, &:focus {
                .icon.rss-inner {
                    animation: opa-wave 3s ease 0s infinite normal;
                }
                .icon.rss-outer {
                    animation: opa-wave 3s ease .4s infinite reverse;
                }
            }

            .icon {
                width: 48px;
                height: 48px;
                top: -23px;
                right: -23px;
                position: absolute;
                transition: opacity .32s ease;
                opacity: 0;
            }

            .avatar {
                float: right;
                position: absolute;
                top: 0;
                right: 0;
                margin-left: 50px;
                border-radius: 50%;
                box-shadow: 0 0 3px rgba(55,55,55,.3);
                width: 86px;
                height: 86px;
            }
        }
    }

    #search-panel {
        width: 100%;
        padding-top: 20px;
        font-size: 0;
        display: flex;
        $border: 3px;

        input, button {
            border: $border solid var(--ul);
            height: 35px;
            line-height: 35px - $border * 2;
            font-size: 0.8rem;
            box-sizing: border-box;
            border-right-width: 0;
            border-left-width: 0;
        }
        input {
            border-left-width: $border;
            padding: 0 5px 0 8.75px;
            width: 76%;
            background-color: transparent;
        }
        button {
            border-right-width: $border;
            padding: 0 17px 0 12.625px;
            width: 24%;
            background-color: var(--ul);
            font-weight: 200;
            padding: 3px 22px;
            height: 35px;
            border-right-width: 3px;
            cursor: pointer;
            
            svg {
                height: 29px - $border * 2;
                line-height: 29px - $border * 2;

                path {
                    fill: white;
                }
            }
        }
    }

    .tt_category {
        list-style: none;
        margin: 0;
        padding: 0;

        .link_tit {
            display: none;
        }

        .sub_category_list {
            & > li::before {
                content: '–';
                position: absolute;
                left: 25px;
                top: 10px;
                line-height: 1.4;
                font-size: 1rem;
                vertical-align: middle;
                font-weight: 200;
                color: #aaa;
            }

            a {
                padding-left: 45px !important;
            }
        }
        .category_list, .sub_category_list {
            list-style: none;
            margin: 0;
            padding: 0;

            &, li, a {
                display: block;
                position: relative;
            }

            a {
                padding: 10px;
                color: var(--hl);

                &:hover, &:focus {
                    background-color: rgba(230,205,215, .2);
                }

                &::after {
                    display: none;
                }

                .c_cnt {
                    @extend %comment-count-on-list;
                }

                img {
                    filter: grayscale(100%);
                }
            }
        }
    }

    .tt_notice, .tt_recent {
        list-style: none;
        margin: 0;
        padding: 0;

        &, li, div, a {
            display: block;
        }

        .recent-item {
            padding: 10px;

            .recent-title {
                color: var(--hl);

                .comments-count {
                    @extend %comment-count-on-list;
                }
            }
            
            .recent-info {
                font-weight: 200;
                color: #999;
                font-size: 14px;

                a.recent-category {
                    display: inline-block;
                    margin-left: 5px;
                    color: var(--ul);
                }
            }

            &:hover, &:focus-within {
                background-color: rgba(230,205,215, .2);
            }

            &::after, a::after {
                display: none;
            }
        }
    }
}
