@import "common";



@keyframes opa-wave {
    0% { opacity: .8; }
    14% { opacity: .6; }
    27% { opacity: .8; }
    32% { opacity: .8; }
    41% { opacity: .4; }
    50% { opacity: .8; }
    56% { opacity: .8; }
    68% { opacity: .5; }
    74% { opacity: .8; }
    80% { opacity: .8; }
    88% { opacity: .4; }
    96% { opacity: .8; }
    100% { opacity: .8; }
}

@keyframes tickle-right {
    0% { transform: translateX(0%); }
    50% { transform: translateX(2.5%); }
    0% { transform: translateX(0%); }
}

@keyframes border-emphasize {
    0% { border: 1px solid transparent; }
    50% { border: 1px solid var(--hl); }
    100% { border: 1px solid transparent; }
}

@keyframes rotate {
    0% { transform: rotateZ(0); }
    100% { transform: rotateZ(360deg); }
}
