@import "common";

header.global {
    @include size(100%, 70px);
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(100, 100, 100, .3);
    position: fixed;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 50;
    transition: top .32s ease;
    top: 0;
    left: 0;
    padding: 0 calc(3% + 10px);

    &.scroll { top: -73px; }

    nav {
        & > * {
            padding: 15px 0;
            display: inline-flex;

            * { padding: 0; }
        }

        * {
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
            margin: 0;

            img, svg {
                height: 100%;
                width: auto;
                padding-right: 10px;
            }
        }

        a { color: var(--ul); }
        a:hover, a:focus, a:target { &::after { display: none; } }

        h1 {
            @extend %underline-slide;

            font-size: 1.67rem;
            position: relative;
        }

        ul {
            padding: 0;
            height: 70px;

            li {
                list-style: none;
                padding: 0 10px;
                cursor: pointer;
                box-sizing: border-box;
                display: table;
                min-width: 110px;
                transition: background-color .32s;
                height: 100%;

                &:hover, &:focus-within { background-color: rgba(200, 200, 200, .3); }

                a {
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 40px;
                    font-size: 1.15rem;
                    box-sizing: border-box;
                }
            }
        }

        .identity {
            padding-right: 5%;

            img { animation: opa-wave 2s infinite; }
        }
        .right {
            float: right;
            padding: 17.5px 10px;
            height: 35px;

            * {
                display: table-cell;
                height: 35px;
                line-height: 35px;
            }

            img, svg { display: block; }
        }

        #dark-controller {
            border: 4px solid rgba(160, 160, 160, .3);
            padding: 0;
            margin: 21px 35px;
            border-radius: 25px;
            position: relative;
            width: 40px;
            height: 20px;
            cursor: pointer;

            * {
                line-height: 25px;
                height: 25px;
            }

            .icon {
                position: absolute;
                width: 20px;
                height: 20px;

                &.moon {
                    left: -31px;

                    path { fill: #0e2d7c; }
                }

                &.sun {
                    right: -41px;

                    path { fill: #ffd924; }
                }
            }

            label {
                width: 14px;
                height: 14px;
                background: var(--hl);
                margin: 3px;
                border-radius: 7px;
                transition: margin-left .32s ease-in-out, width .32s ease-in-out;
                z-index: -1;
                margin-left: 22px;
            }

            &:hover label {
                margin-left: 16px;
                width: 20px;
            }

            input[type="checkbox"] { display: none; }
        }

        #goto-home {
            display: flex;

            * { display: inline-block; }

            span {
                width: 0;
                overflow: hidden;
                transition: width .32s ease, opacity .45s ease-out;
                opacity: 0;
                vertical-align: middle;
                line-height: 30px;
            }

            &:hover, &:target, &:focus {
                animation: tickle-right 1s infinite;

                span {
                    width: 9.8em;
                    opacity: 1;
                }
            }
        }
    }
}
body[data-page-type="tt-body-index"] header.global .t_menu_home a[href="/"],
body[data-page-type="tt-body-tag"] header.global .t_menu_tag a[href="/tag"],
body[data-page-type="tt-body-guestbook"] header.global .t_menu_guestbook a[href="/guestbook"],
header.global a.now {
    border-bottom: var(--hl) 5px solid;
    padding-top: 5px;
}

footer.global {
    margin: 3em 0;
    padding: 1em 0;
    text-align: center;

    a, span, p {
        color: #aaa;
        font-size: 14px;
        font-weight: 200;
        margin: 0;

        &::after {
            display: none;
        }
    }

    a {
        transition: color .32s ease;

        &:hover, &:focus {
            color: var(--ul);
        }
    }
}
