@charset "utf-8";

@import "common";

@import "animations";
@import "dark-mode";

@import "global";
@import "content-body";
@import "content-side";
@import "paginator";

::selection {
    color: #FFFFFF;
    background-color: var(--hl);
}

a {
    text-decoration: none;
    position: relative;
}
a:hover, a:target, a:focus {
    text-decoration: none;

    &::after {
        @extend %underline-basic;
    }
}
a.goto-top {
    position: fixed;
    display: table;
    border-spacing: 10px;
    right: 3%;
    bottom: 25px;
    padding: 0 5px;
    color: white;
    opacity: 0;
    pointer-events: none;
    background-color: var(--ul);
    transition: transform .32s ease-in-out, opacity .32s ease;
    overflow: hidden;

    &:hover, &:focus {
        &::before {
            animation: bound-up 1.3s ease-out;
        }
    }

    &::before {
        @include size(24px, 24px);
        content: '';
        background-image: url('./images/up.svg');
        background-size: cover;
        display: table-cell;
        vertical-align: middle;
    }
    &::after { display: none; }

    &.visible { opacity: 1; pointer-events: initial; }

    span {
        display: table-cell;
    }
}

html, body {
    width: 100%;
    min-height: 100%;
    scrollbar-color: rgba(128, 128, 128, .4) rgba(200, 200, 200, .6);
}

body {
    margin: 0;
    color: #34495e;
    font-size: 16px;
    line-height: 1.6;

    &, * {
        font-family: 'Noto Sans CJK KR', 'Noto Sans KR', 'Helvetica Neue', Arial, sans-serif;
    }

    *:focus { outline: none; }

    path { fill: var(--ul); }
}

main {
    @include size($CONTENT_WIDTH, auto);
    padding-top: 90px;
    margin: 0 auto;
    height: fit-content;
    display: flex;

    & > .left {
        width: 68%;
        float: left;
        box-sizing: border-box;
        padding-right: 50px;
    }

    & > .right {
        width: 32%;
        float: left;
    }

    .absent_post {
        font-size: 16px !important;
        color: #34495e !important;
        background: none !important;
    }
}

.no-event {
  pointer-events: none;
}
