

article.guestbook {
    .gb-title {
        margin: 0.65em 0 0;
        color: var(--ul);
        font-size: 2rem;
    }

    section {
        & > ol {
            margin: 10px 0;
            padding: 0;

            li {
                padding: 10px;
                list-style: none;
                background: rgba(200, 200, 200, .2);

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                &:target {
                    animation: border-emphasize 1s infinite ease-in-out;
                }

                a {
                    color: var(--ul);
                }

                ol {
                    margin-top: 10px;
                    padding-left: 2.5rem;

                    li:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }

                p {
                    padding-left: 1em;

                    &:first-of-type {
                        margin-top: 5px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &.guest_admin > .name::before {
                    content: '';
                    background: url("./images/star.svg") no-repeat;
                    width: .8rem;
                    height: .8rem;
                    display: inline-block;
                    margin-right: 6px;
                    animation: rotate 30s linear infinite;
                    opacity: .7;
                }

                .name {
                    margin-right: .23rem;
                    font-weight: 700;
                }
                .date {
                    color: #999;
                }
                .control {
                    float: right;

                    a { margin-left: .334em; }
                    a.modify { color: #999; }
                    a.write { color: var(--hl); }
                }
            }
        }

        textarea {
            resize: vertical;
            width: 100%;
            min-height: 80px;
        }

        textarea, input, label {
            box-sizing: border-box;
            padding: 8px;
            background-color: transparent;
            color: var(--ul);
            border: 1px solid rgba(180, 180, 180, .3);

            &:not([type="submit"]) {
                margin-right: .3em;
            }

            &:focus, &:hover {
                border-color: var(--hl);
            }
        }

        .gb-personal {
            margin-top: 5px;
            width: 100%;
            display: flex;

            input[type="text"] { width: 50%; }
            input[type="password"] { width: calc(35% - .6em); }
            input[type="submit"] {
                transition: background-color .32s ease-in-out, color .32s ease-in-out;
                width: 15%;
                cursor: pointer;
                border: none;
                padding-top: 9px;
                padding-bottom: 9px;
                background-color: rgba(180, 180, 180, .3);
                color: var(--ul);

                &:hover, &:focus {
                    transition: none;
                    color: var(--ul) !important;
                    background-color: var(--hl);
                }

                &:first-child {
                    margin-left: auto;
                }
            }
        }
    }
}

article.post {

    .post-comments {
        & > ol {
            margin: 10px 0;
            padding: 0;

            li {
                padding: 10px;
                list-style: none;
                background: rgba(200, 200, 200, .2);

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                &:target {
                    animation: border-emphasize 1s infinite ease-in-out;
                }

                a {
                    color: var(--ul);
                }

                ol {
                    margin-top: 10px;
                    padding-left: 2.5rem;

                    li:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }

                p {
                    padding-left: 1em;

                    &:first-of-type {
                        margin-top: 5px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &.rp_admin > .name::before {
                    content: '';
                    background: url("./images/star.svg") no-repeat;
                    width: .8rem;
                    height: .8rem;
                    display: inline-block;
                    margin-right: 6px;
                    animation: rotate 30s linear infinite;
                    opacity: .7;
                }

                .name {
                    margin-right: .23rem;
                    font-weight: 700;
                }
                .date {
                    color: #999;
                }
                .control {
                    float: right;

                    a { margin-left: .334em; }
                    a.address, a.modify { color: #999; }
                    a.write { color: var(--hl); }
                }
            }
        }

        textarea {
            resize: vertical;
            width: 100%;
            min-height: 80px;
        }

        textarea, input, label {
            box-sizing: border-box;
            padding: 8px;
            background-color: transparent;
            color: var(--ul);
            border: 1px solid rgba(180, 180, 180, .3);

            &:not([type="submit"]) {
                margin-right: .3em;
            }

            &:focus, &:hover {
                border-color: var(--hl);
            }
        }

        .wc-personal {
            margin-top: 5px;
            width: 100%;
            display: flex;

            label:first-child, input[type="submit"]:first-child {
                margin-left: auto;
            }

            label {
                width: 37px;
                height: 37px;
                padding: 3px;
                cursor: pointer;

                svg {
                    width: 23px;
                    height: 23px;
                    padding: 3px;
                }

                &.locked {
                    background-color: var(--hl);

                    .icon.padlock-unlocked { display: none; }
                    rect, path { fill: var(--ul) !important; }
                }
                &:not(.locked) {
                    .icon.padlock-locked { display: none; }

                    &:hover {
                        .icon.padlock-unlocked { display: none; }
                        .icon.padlock-locked { display: inherit; }
                    }
                    &:hover, &:focus {
                        rect, path { fill: var(--hl) !important; }
                    }

                    rect, path { fill: currentColor !important; }
                }
            }
            input[type="checkbox"] { display: none; }

            input[type="text"] { width: 50%; }
            input[type="password"] { width: calc(35% - .9em - 37px); }
            input[type="submit"] {
                transition: background-color .32s ease-in-out, color .32s ease-in-out;
                width: 15%;
                cursor: pointer;
                border: none;
                padding-top: 9px;
                padding-bottom: 9px;
                background-color: rgba(180, 180, 180, .3);
                color: var(--ul);

                &:hover, &:focus {
                    transition: none;
                    color: var(--ul) !important;
                    background-color: var(--hl);
                }
            }
        }
    }
}
article.tags {
    .tags-title {
        margin: 0.65em 0 0;
        color: var(--ul);
        font-size: 2rem;
    }

    .tags-list {
        ul {
            list-style: none;
            padding: 0;
            margin: 2rem 0;

            li {
                display: inline-block;
                margin: 5px 20px;

                a {
                    @extend %underline-slide;
                    color: var(--ul);
                    transition: color .32s ease-in-out;

                    &:hover, &:focus {
                        color: var(--hl);
                    }

                    &.cloud1 { font-size: 2rem; }
                    &.cloud2 { font-size: 1.8rem; }
                    &.cloud3 { font-size: 1.4rem; }
                    &.cloud4 { font-size: 1.1rem; }
                    &.cloud5 { font-size: .8rem; }
                }
            }
        }
    }
}
