@import "common";

#paginator {
    display: table;
    padding: 40px 0;
    margin: auto;
    text-align: center;

    a {
        display: table-cell;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        * {
            display: block;
            line-height: 24px;
            height: 24px;
        }

        span { margin: 0 10px; }

        &::after {
            display: none;
        }

        &:not([href]) {
            cursor: default;
            color: rgba(100, 100, 100, .4);

            polygon {
                fill: rgba(231, 226, 226, 0.4);
            }
        }
        &[href] {
            cursor: pointer;
            color: var(--ul);

            polygon {
                fill: var(--ul);
            }

            &:hover, &:focus {
                color: var(--hl);

                polygon {
                    fill: var(--hl);
                }
            }
        }

        &.prev, &.next {
            padding: 0 10px;
        }
    }
}
