@import "../common";

footer.global {
  margin: auto;
  padding: ($CONTENT_PADDING * 2.5) ($CONTENT_PADDING / 2);
  box-sizing: border-box;
  user-select: none;
  text-align: center;

  @include onCompactView {
    padding-top: $CONTENT_PADDING comp($CONTENT_PADDING) 10vh;
  }

  &, a, span {
    font-family: $FONT_FAMILY_MONOSPACE;
    color: $COLOR_GRAY;
    font-size: .96rem;
  }

  a {
    @include onFocus {
      color: $COLOR_GRAY !important;
      text-decoration: none !important;
    }
  }

  #designed-by[data-i-am="실토"] {
    display: none;
  }

  #copyright {
    line-height: 2.4;
  }
}
