@import "../common";

$GLOBAL_BAR_SPACING: 7px;

#global-notice,
#index-counter {
  padding: (17px - $GLOBAL_BAR_SPACING) ($CONTENT_PADDING - $GLOBAL_BAR_SPACING) (17px - $GLOBAL_BAR_SPACING);
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: $CONTENT_PADDING;
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-spacing: $GLOBAL_BAR_SPACING;

  @include radbox;
}

#global-notice {
  &::before, .content {
    display: table-cell;
    vertical-align: center;
  }

  &::before {
    content: "";
    background-image: url("./images/info.svg");
    width: 1.3rem;
    height: 1.3rem;
    background-size: contain;
    background-repeat: no-repeat;

    @include transit(filter);
    @include onDark {
      filter: invert(.92);
    }
  }

  .title {
    font-style: normal;
  }

  .detail {
    opacity: .6;
    display: block;
    margin-top: .5rem;
    font-size: .9rem;
  }

  a {
    @include onFocus {
      color: $COLOR_DEF;
    }
  }
}

#index-counter {
  user-select: none;

  .inner-conform::before {
    @at-root body[data-page-type="tt-body-tag"] & {
      content: '#';
    }
  }

  .conform::after {
    @at-root body[data-page-type="tt-body-tag"] & {
      content: ' 태그가 달린 게시글이';
    }
    @at-root body[data-page-type="tt-body-category"] & {
      content: ' 카테고리에 속하는 게시글이';
    }
    @at-root body[data-page-type="tt-body-search"] & {
      content: ' 의 검색 결과가';
    }
  }
}
