@import "../common";

$GLOBAL_BAR_SPACING: 7px;

#copy-helper {
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
}

#global-notice,
#index-counter {
  padding: (12px - $GLOBAL_BAR_SPACING) ($CONTENT_PADDING - $GLOBAL_BAR_SPACING) (12px - $GLOBAL_BAR_SPACING);
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: $CONTENT_PADDING;
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-spacing: $GLOBAL_BAR_SPACING;

  @include radbox;
}

#global-notice {
  &::before, .content {
    display: table-cell;
    vertical-align: center;
  }

  &::before {
    content: "";
    background-image: url("./images/info.svg");
    width: 1.3rem;
    height: 1.3rem;
    background-size: contain;
    background-repeat: no-repeat;

    @include transit(filter);
    @include onDark {
      filter: invert(.92);
    }
  }

  .title {
    font-style: normal;
  }

  .detail {
    opacity: .6;
    display: block;
    margin-top: .5rem;
    font-size: .9rem;
  }

  a {
    @include onFocus {
      color: $COLOR_DEF;
    }
  }
}
