@import "../common";

.spinner-container {
  display: table;
  text-align: center;
  margin: auto;
  opacity: 0;

  @include transit(opacity);

  &.visible {
    opacity: 1;
  }

  .spinner {
    display: table-cell;

    @include spinner;
  }
}
