@import "../common";

.layer_post, .layer_ccl {
  @include transit(background-color, border);
  @include onDark {
    background-color: $COLOR_INV_H !important;
    border: 1px solid #656565;
  }

  .btn_mark, .txt_mark {
    color: $COLOR_DEF !important;

    @include transit(color, background-color);
    @include onFocus {
      background-color: rgba(160, 160, 160, .2) !important;
      text-decoration: none;
    }
  }

  .ico_postbtn {
    @include transit(filter);
    @include onDark {
      filter: invert(1) brightness(4.7) contrast(80%);
    }
  }
}

[id^="tistoryFootnoteLayer"] {
  filter: grayscale(1);
  color: $COLOR_DARK;

  @include transit(filter);
  @include onDark {
    filter: grayscale(1) invert(.6) contrast(360%);
  }
}
