include ingredients

//- Lists
s_list: article(class="[##_list_style_##]")

  //- Stylesheet of #index-counter is "global/others.scss".
  div#index-counter
    span.conform: b
      span.inner-conform= "[##_list_conform_##]"
      = " "
    b= " [##_list_count_##]개 "
    | 있습니다.

  s_list_rep
    a.no-underline(href="[##_list_rep_link_##]" title="눌러서 이 글 전체 읽기")
      s_list_rep_thumbnail: section.ct-thumbnail
        img(aria-hidden="true" src="[##_list_rep_thumbnail_##]" alt="썸네일 이미지")
      section.ct-summary
        header.ct-header
          +title("list")
          +meta("list")
        section.ct-excerpt
          | [##_list_rep_summary_##]
