s_tag: article
  header.ct-header
    h1.ct-title= "태그 목록"
    h2.ct-subtitle= "블로그에서 사용한 모든 태그를 모았어요. 크기가 클수록 많이 등장한 태그에요."

  section.ct-body
    ul.tags-list
      s_tag_rep: li
        a(href="[##_tag_link_##]" class="[##_tag_class_##]")
          | [##_tag_name_##]
