s_page_rep: article.page
    script
        | try {
        |     document.querySelector("header.global .t_menu_page a[href=\"" + location.pathname + "\"]").classList.add("now");
        | } catch (e) {}
    
    style(type="text/css")
        | div#content { width: 100%; padding-right: 0; }
        | article.page header { text-align: center; }
        | article.page header h2 { font-size: 3rem; }
        | aside.right { display: none; }

    header
        h2.page-title
            a.sharp(href="[##_article_rep_link_##]")
            | [##_article_rep_title_##]
    
    section.page-content.content-body
        | [##_article_rep_desc_##]
