footer.global

  div#hosted-on
    span= "Hosted on ♥ TISTORY"

  div#copyright
    p
      = "© "
      a(href="[##_var_home-url_##]")
        include functions/author
      = " & "
      a(href="https://github.com/widh/prontera" target="_blank")
        | Prontera
      = "."
