header.global
    nav
        a.identity(href="/")
            s_if_var_logo-icon
                img(src="[##_var_logo-icon_##]" alt="[##_title_##] 아이덴티티")
            h1= "[##_title_##]"

        | [##_blog_menu_##]

        ul.shortcuts.right
            s_if_var_github-url
                a#goto-github(href="[##_var_github-url_##]" target="_blank")
                    include icons/github
            s_if_var_home-url
                a#goto-home(href="[##_var_home-url_##]" target="_self")
                    span= "홈페이지로 돌아가기"
                    include icons/return
                    
        div#dark-controller.right(title="화면 모드 전환")
            include icons/moon
            label.no-event
                input#isDark(type="checkbox" name="isDark")
            include icons/sun
