footer.global
    div#hosted-on
        span= "이 블로그는 티스토리를 기반으로 동작합니다."
    div#copyright
        p
            = `© 2017 - ${(new Date()).getFullYear()} `
            a(href="https://www.yuoa.pm")
                | Yuoa
            = ", "
            a(href="https://github.com/AngryPowman/hexo-theme-prontera" target="_blank")
                | Prontera
            = "."
