header.global
  nav
    a.identity(href="/")
      s_if_var_img-logo
        img(src="[##_var_img-logo_##]" alt="[##_title_##] 아이덴티티")
      h1= "[##_title_##]"

    | [##_blog_menu_##]

    div#dark-controller.right(title="밝기 모드 전환")
      include icons/moon
      label.no-event
        input#is-dark(type="checkbox" name="is-dark")
      include icons/sun

    ul#shortcuts.right
      s_if_var_url-github
        a#goto-github(href="[##_var_url-github_##]" target="_blank")
          include icons/github
      s_if_var_url-home
        a#goto-home(href="[##_var_url-home_##]" target="_self")
          span= "홈페이지로 돌아가기"
          include icons/return
