//- Dark mode
script(async)
  | (function () {
  |   var cq = document.cookie.split(";");
  |   cq.forEach(function (cr) {
  |     var c = cr.split("=");
  |     if ("modarkbul" === c[0].trim()) {
  |       if (c[1][0] === "t") {
  |         document.documentElement.style.setProperty("background-color", "#000000");
  |         document.documentElement.classList.add("dark");
  |       } else {
  |         document.documentElement.style.setProperty("background-color", "#eaeaea");
  |       }
  |     }
  |   });
  | })();
  | window.PtConfig = {
  |   modarkbulDomain: '[##_var_cookie-domain_##]',
  |   hlColor: '[##_var_color-hl_##]',
  |   ulColor: '[##_var_color-ul_##]',
  |   pageType: '[##_body_id_##]',
  | };
  | window.PtQueue = {};
  | window.PtLateQueue = {};
  | window.PtRegister = function (name, fn, lazy) {
  |   if (window.onload && window.PtLaunched) {
  |     window.PtStore[name] = {};
  |     try {
  |       fn(window.PtStore[name], window.PtConfig, function () {});
  |     } catch (e) {
  |       console.debug(e);
  |     }
  |   } else {
  |     (lazy ? PtLateQueue : PtQueue)[name] = fn;
  |   }
  | };

//- Code Highlight
script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js" defer)

//- Prontera
script(src="./onload.js" async)
script(src="./functions.js" defer)

//- MathJax
script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async)
script(type="text/x-mathjax-config" defer)
  | MathJax.Hub.Config({
  |   tex2jax: {
  |     inlineMath: [['$$', '$$']],
  |     skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
  |     processEscapes: true
  |   }
  | });
