div#about-panel
    div.info
        div.author
            | [##_blogger_##]
        s_if_var_author-alter: div.alternative
            | [##_var_author-alter_##]
        div.description
            | [##_desc_##]
    a.rss(href="[##_rss_url_##]" target="_blank" title="RSS 받아보기")
        include icons/rss-inner
        include icons/rss-outer
        s_if_var_avatar
            img.avatar(src="[##_var_avatar_##]")
