//- Fonts
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700")

//- Prontera
link(rel="stylesheet" href="./style.css")
style(type="text/css")
  | * {
  |     --hl: [##_var_color-hl_##];
  |     --ul: [##_var_color-ul_##];
  | }
