script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML&locale=ko" async)
script(type="text/x-mathjax-config").
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/CommonHTML"],
    tex2jax: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$$']],
      skipTags: ['script', 'noscript', 'style', 'textarea'],
      processEscapes: true
    }
  });
  MathJax.Hub.Queue(function () {
    var args = arguments;
    window.PtRegister(
      "mathjax", function (w, c, end) {
        document.querySelectorAll('.MJXc-processed').forEach(function(mjxc) {
          if (mjxc.previousElementSibling.classList.contains('MathJax_Preview')) {
            mjxc.previousElementSibling.style.setProperty('display', 'none');
          }
        });
        end(Array.from(args));
      }
    );
  });
