svg.icon.rss-outer(viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg")
    path(d="M 478.511,169.894 C 382.926,133.381 281.295,116.636 181.058,124.078 l -6.046,6.046 c -26.745,9.767 -32.559,43.955 -13.721,63.025 4.419,4.419 14.652,9.303 21.164,10.931 88.608,-6.977 184.89,6.046 269.312,38.141 256.521,97.911 409.084,349.547 363.036,597.695 l -1.861,10.931 h 2.791 c 1.395,6.977 5.116,13.489 10.233,18.837 15.35,15.349 39.769,15.116 54.886,0 4.185,-4.185 7.442,-9.767 9.303,-15.582 h 1.395 l 1.395,-7.907 C 941.784,564.79 767.592,280.361 478.512,169.893 Z")
