svg.icon.menu(version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1000")
  path.triangle.a(d="m 224.7,339 c 36.1,-27.1 65.3,-12.4 65.3,32.7 v 256.7 c 0,45.1 -29.2,59.7 -65.3,32.7 L 75.3,549 c -36.1,-27.1 -36.1,-70.9 0,-98 z")
  path.triangle.b(d="m 775.2,339 c -36.1,-27.1 -65.3,-12.4 -65.3,32.7 v 256.7 c 0,45.1 29.2,59.7 65.3,32.7 L 924.6,549 c 36.1,-27.1 36.1,-70.9 0,-98 z")
  path.long-bar.a(d="M 10,64.4 C 10,34.4 34.4,10 64.4,10 h 871.1 c 30.1,0 54.4,24.4 54.4,54.4 0,30.1 -24.4,54.4 -54.4,54.4 H 64.4 C 34.4,118.9 10,94.5 10,64.4 Z")
  path.long-bar.b(d="m 10,935.6 c 0,-30.1 24.4,-54.4 54.4,-54.4 h 871.1 c 30.1,0 54.4,24.4 54.4,54.4 0,30.1 -24.4,54.4 -54.4,54.4 H 64.4 C 34.4,990 10,965.6 10,935.6 Z")
  path.short-bar.a(d="m 418.3,336.7 c 0,-30.1 24.4,-54.4 54.4,-54.4 h 435.6 c 30.1,0 54.4,24.4 54.4,54.4 0,30.1 -24.4,54.4 -54.4,54.4 H 472.8 c -30.1,0 -54.5,-24.4 -54.5,-54.4 z")
  path.short-bar.b(d="m 418.3,663.3 c 0,-30.1 24.4,-54.4 54.4,-54.4 h 435.6 c 30.1,0 54.4,24.4 54.4,54.4 0,30.1 -24.4,54.4 -54.4,54.4 H 472.8 c -30.1,0.1 -54.5,-24.3 -54.5,-54.4 z")
