@import "common";

@keyframes boundUp {
  0% { transform: translateY(0); }
  25% { transform: translateY(100%); }
  60% { transform: translateY(-175%); opacity: 1; }
  61% { transform: translateY(-175%); opacity: 0; }
  62% { transform: translateY(175%); opacity: 0; }
  63% { transform: translateY(175%); opacity: 1; }
  92% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes shiney {
  0% { opacity: .8; }
  14% { opacity: .6; }
  27% { opacity: .8; }
  32% { opacity: .8; }
  41% { opacity: .4; }
  50% { opacity: .6; }
  56% { opacity: .8; }
  68% { opacity: .5; }
  74% { opacity: .6; }
  80% { opacity: .8; }
  88% { opacity: .4; }
  96% { opacity: .6; }
  100% { opacity: .8; }
}
