@import "common";

.layer_post, .layer_ccl {
  @include transit(background-color, border);

  .btn_mark, .txt_mark {
    color: $COLOR_DEF !important;

    @include transit(color, background-color);
    @include onFocus {
      background-color: rgba(160, 160, 160, .2) !important;
      text-decoration: none;
    }
  }

  .ico_postbtn {
    @include transit(filter);
  }
}
