@import "common";

$PAGINATOR_SIZE: 24px;

#paginator {
  display: table;
  padding: $CONTENT_PADDING 0;
  border-spacing: $CONTENT_PADDING / 2;
  margin: auto;
  text-align: center;

  a {
    display: table-cell;
    width: $PAGINATOR_SIZE;
    height: $PAGINATOR_SIZE;
    vertical-align: middle;
    color: $COLOR_DEF;

    @include transit(color, opacity);

    &.iter {
      padding: 0 4px;
    }

    &:not([href]) {
      cursor: default;
      opacity: 0.28;
    }

    &[href] {
      cursor: pointer;
      opacity: 0.6;

      @include onFocus {
        opacity: 1;
        color: $COLOR_HL;

        polygon {
          fill: $COLOR_HL;
        }
      }
    }

    svg {
      height: $PAGINATOR_SIZE;
      display: block;

      polygon {
        fill: $COLOR_DEF;

        @include transit(fill);
      }
    }

    span {
      line-height: $PAGINATOR_SIZE;
      display: block;
      font-size: 1.3rem;
      line-height: 1.3rem;
      font-weight: $WEIGHT_BOLD;
      font-style: italic;
    }
  }
}
