@import "common";

@media screen {
  main {
    #content {
      padding-left: 10%;
      padding-right: 10%;
      width: 100%;

      .ct-header {
        padding-bottom: 0;
      }

      .ct-body {
        padding-bottom: $CONTENT_PADDING;
      }

      @include onCompactView {
        padding: 0 comp($CONTENT_PADDING);
        max-width: $CONTENT_WIDTH * 0.8;
      }
    }

    #side-bar {
      display: none;
    }
  }
}
