@import "common";

@import "animation";
@import "modarkbul";

@import "global";
@import "content-body";
@import "content-side";
@import "tistory";

html {
  scrollbar-color: #999 #ccc;
  font-size: $FONT_SIZE;
  line-height: $LINE_HEIGHT;
  background-color: $COLOR_LIGHT;

  @include transit(background-color, scrollbar-color);
  @media print {
    background-color: #ffffff !important;
  }
}

body {
  width: 100%;
  margin: 0;
  color: $COLOR_DARK;

  @include transit(color);

  &, * {
    font-family: $FONT_FAMILY_NORMAL;
    direction: ltr;
    --color-def: #{$COLOR_DARK};
    --color-def-hl: #{$COLOR_DARK_H};
    --color-def-thl: #{$COLOR_DARK_TH};
    --color-def-xhl: #{$COLOR_DARK_XH};
    --color-inv: #{$COLOR_LIGHT};
    --color-inv-hl: #{$COLOR_LIGHT_H};
    --color-inv-thl: #{$COLOR_LIGHT_TH};
    --color-inv-xhl: #{$COLOR_LIGHT_XH};

    &:focus {
      outline: none;
    }

    &::selection {
      color: $COLOR_LIGHT;
      background-color: $COLOR_HL;
    }
  }

  a {
    text-decoration: none;
    position: relative;
    color: $COLOR_DEF;

    @include transit(color);

    &:not(.no-underline) {
      @include underlineEffect;
    }

    &.no-underline {
      @include noUnderlineEffect;
    }

    &:not(.no-color) {
      &:hover, &:target, &:focus {
        color: $COLOR_HL;
      }
    }
  }
}

main {
  $MAIN_TOP_PADDING: $HEADER_HEIGHT + $CONTENT_PADDING * 2;
  $MAIN_TOP_PADDING_CV: comp($HEADER_HEIGHT * 2) + $CONTENT_PADDING;

  width: $CONTENT_WIDTH;
  height: max-content;
  position: relative;
  display: flex;
  padding-top: $MAIN_TOP_PADDING;
  margin: 0 auto;
  overflow: hidden;

  @include onCompactView {
    padding-top: $MAIN_TOP_PADDING_CV;
    width: 100%;
  }
  @media print {
    padding-top: 0;
    width: 100%;
  }

  #content {
    width: 70%;
    box-sizing: border-box;
    padding-right: $CONTENT_PADDING;
    padding-left: $CONTENT_PADDING / 2;

    @include onCompactView {
      width: 100%;
      margin: 0 auto;
      max-width: $CONTENT_WIDTH * .7;
      padding: 0 comp($CONTENT_PADDING);
    }
    @media print {
      width: 100%;
      padding: $CONTENT_PADDING;
    }
  }

  #side-bar {
    width: 30%;
    box-sizing: border-box;
    padding-left: $CONTENT_PADDING;
    outline-color: transparent;

    @include onCompactView {
      z-index: 90;
      position: fixed;
      padding: $MAIN_TOP_PADDING_CV $CONTENT_PADDING 0;
      top: 0;
      right: -89vw;
      width: 88vw;
      height: 100vh;
      box-shadow: $HEADER_SHADOW;
      background-color: $COLOR_INV_XH;
      outline-width: 101vw;
      outline-style: solid;

      @include transit(right, outline-color);

      &.visible {
        right: 0;
        outline-color: $COLOR_INV_TH;
      }

      &::before {
        content: '';
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-event {
  pointer-events: none;
}

.no-print {
  @include noPrint;
}

.no-transparency {
  opacity: 1 !important;
}

.speak-only {
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  position: absolute;
  text-indent: -101vw;
}

.scale-y-96 {
  transform: scaleY(.96);
}

.spinner {
  @include spinner;
}
