@import "common";
@import "animation";
@import "modarkbul";

@import "global-header";
@import "global-footer";
@import "global-paginator";
@import "global-others";

@import "content-body";
@import "content-side";
@import "content-tistory";

html {
  font-size: $FONT_SIZE;
  line-height: $LINE_HEIGHT;
  background-color: $COLOR_LIGHT;
  scrollbar-color: #999 #ccc;

  @include transit(background-color, scrollbar-color);
  @media print {
    background-color: transparent !important;
  }
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  color: $COLOR_DARK;

  @include transit(color);

  &, * {
    font-family: $FONT_FAMILY_DEFAULT;
    direction: ltr;
    --color-def: #{$COLOR_DARK};
    --color-def-hl: #{$COLOR_DARK_H};
    --color-def-tp: #{$COLOR_DARK_T};
    --color-def-op: #{$COLOR_DARK_O};
    --color-inv: #{$COLOR_LIGHT};
    --color-inv-hl: #{$COLOR_LIGHT_H};
    --color-inv-tp: #{$COLOR_LIGHT_T};
    --color-inv-op: #{$COLOR_LIGHT_O};

    &:focus {
      outline: none;
    }

    &::selection {
      color: $COLOR_LIGHT;
      background-color: $COLOR_HL;
    }
  }

  a {
    text-decoration: none;
    position: relative;
    color: $COLOR_DEF;

    @include transit(color);

    &:not(.no-underline) {
      @include onFocus {
        text-decoration: underline;
      }
    }

    &.no-underline {
      @include onFocus {
        text-decoration: none;
      }
    }

    &:not(.no-color) {
      &:hover, &:target, &:focus {
        color: $COLOR_HL;
      }
    }
  }
}

main {
  $MAIN_TOP_PADDING: $HEADER_HEIGHT + $CONTENT_PADDING * 2;
  $MAIN_TOP_PADDING_C: comp($HEADER_HEIGHT * 2) + $CONTENT_PADDING;
  $MAIN_CONTENT_WIDTH: 70%;
  $MAIN_SIDE_BAR_WIDTH_C: 88vw;

  width: $CONTENT_WIDTH;
  height: max-content;
  position: relative;
  display: flex;
  padding-top: $MAIN_TOP_PADDING;
  margin: 0 auto;
  overflow: hidden;

  @include onCompactView {
    padding-top: $MAIN_TOP_PADDING_C;
    width: 100%;
  }
  @media print {
    padding-top: 0;
    width: 100%;
  }

  #content {
    width: $MAIN_CONTENT_WIDTH;
    box-sizing: border-box;
    padding-right: $CONTENT_PADDING * 1.5;
    padding-left: $CONTENT_PADDING / 2;

    @include onCompactView {
      width: 100%;
      margin: 0 auto;
      max-width: $CONTENT_WIDTH * .7;
      padding: 0 comp($CONTENT_PADDING);
    }
    @media print {
      width: 100%;
      padding: $CONTENT_PADDING;
    }
  }

  #side-bar {
    width: 100% - $MAIN_CONTENT_WIDTH;
    box-sizing: border-box;
    padding-left: $CONTENT_PADDING;
    outline-color: transparent;

    @include onCompactView {
      z-index: 90;
      position: fixed;
      padding: $MAIN_TOP_PADDING_C $CONTENT_PADDING 0;
      top: 0;
      right: -1 * (1vw + $MAIN_SIDE_BAR_WIDTH_C);
      width: $MAIN_SIDE_BAR_WIDTH_C;
      height: 100vh;
      box-shadow: $RADBOX_SHADOW;
      background-color: $COLOR_INV_H;
      outline-width: 101vw;
      outline-style: solid;

      @include transit(right, outline-color);

      &.visible {
        right: 0;
        outline-color: $COLOR_INV_T;
      }

      &::before {
        content: '';
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-event {
  pointer-events: none;
}

.no-print {
  @include noPrint;
}

.no-transparency {
  opacity: 1 !important;
}

.speak-only {
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  position: absolute;
  text-indent: -101vw;
}

.spinner-container {
  opacity: 0;

  @include transit(opacity);

  &.visible {
    opacity: 1;
  }

  .spinner {
    @include spinner;
  }
}
