@import "common";

@import "global/header";
@import "global/footer";
@import "global/goto-top";
@import "global/paginator";
@import "global/spinner";
@import "global/mathjax";
@import "global/tistory";
@import "global/toc";
@import "global/others";

@import "content-body/common";
@import "content-body/index";
@import "content-body/list-excerpt";
@import "content-body/list-gallery";
@import "content-body/post";
@import "content-body/tags";
@import "content-body/guestbook";
@import "content-body/others";

@import "content-side/common";
@import "content-side/about-myself";
@import "content-side/categories";
@import "content-side/search";
@import "content-side/twitter";

$MAIN_TOP_PADDING: $HEADER_HEIGHT + $CONTENT_PADDING * 2;
$MAIN_TOP_PADDING_C: comp($HEADER_HEIGHT * 2) + $CONTENT_PADDING;

html {
  font-size: $FONT_SIZE;
  line-height: $LINE_HEIGHT;
  background-color: $COLOR_LIGHT;
  scrollbar-color: #999 #ccc;

  @include transit(background-color, scrollbar-color);
  @media print {
    background-color: transparent !important;
  }
  @media screen {
    &.dark {
      scrollbar-color: #666 #333;
    }
  }
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  color: $COLOR_DARK;

  @include transit(color);
  @include onDark {
    color: $COLOR_LIGHT;
  }

  &, * {
    font-family: $FONT_FAMILY_DEFAULT;
    direction: ltr;

    --color-dark: #{$COLOR_DARK};
    --color-light: #{$COLOR_LIGHT};

    --color-def: #{$COLOR_DARK};
    --color-def-hl: #{$COLOR_DARK_H};
    --color-def-xhl: #{$COLOR_DARK_XH};
    --color-def-tp: #{$COLOR_DARK_T};
    --color-def-op: #{$COLOR_DARK_O};
    --color-inv: #{$COLOR_LIGHT};
    --color-inv-hl: #{$COLOR_LIGHT_H};
    --color-inv-xhl: #{$COLOR_LIGHT_XH};
    --color-inv-tp: #{$COLOR_LIGHT_T};
    --color-inv-op: #{$COLOR_LIGHT_O};
    --color-shadow: #{$COLOR_GRAY_T};

    @include onDark {
      &:not(.no-dark) {
        --color-def: #{$COLOR_LIGHT};
        --color-def-hl: #{$COLOR_LIGHT_H};
        --color-def-xhl: #{$COLOR_LIGHT_XH};
        --color-def-tp: #{$COLOR_LIGHT_T};
        --color-def-op: #{$COLOR_LIGHT_O};
        --color-inv: #{$COLOR_DARK};
        --color-inv-hl: #{$COLOR_DARK_H};
        --color-inv-xhl: #{$COLOR_DARK_XH};
        --color-inv-tp: #{$COLOR_DARK_T};
        --color-inv-op: #{$COLOR_DARK_O};
        --color-shadow: #{$COLOR_DARK_T};
      }
    }

    &:focus {
      outline: none;
    }

    &::selection {
      color: $COLOR_HL_INV;
      background-color: $COLOR_HL;
    }
  }

  a {
    text-decoration: none;
    position: relative;
    color: $COLOR_DEF;

    @include transit(color);

    &:not(.no-underline) {
      @include onFocus {
        text-decoration: underline;
      }
    }

    &.no-underline {
      @include onFocus {
        text-decoration: none;
      }
    }

    &:not(.no-color) {
      &:hover, &:target, &:focus {
        color: $COLOR_HL;
      }
    }
  }
}

main {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  padding-top: $MAIN_TOP_PADDING;
  margin: 0 auto;
  overflow: hidden;

  @include onCompactView {
    padding-top: $MAIN_TOP_PADDING_C;
  }
  @media print {
    padding-top: 0;
  }

  #read-helper {
    position: relative;
    display: none;

    @include onWideView {
      text-align: right;
      width: $ASIDE_WIDTH;
      box-sizing: border-box;
      padding: 0 ($CONTENT_PADDING * 2.5) 0 ($CONTENT_PADDING * 3);
      min-width: $ASIDE_WIDTH_MIN - $CONTENT_PADDING * 3;
      max-width: $ASIDE_WIDTH_MIN + $CONTENT_PADDING * 2;
      margin-left: auto;
      display: block;

      .sticky {
        position: sticky;
        top: $MAIN_TOP_PADDING;
      }

      .title {
        font-weight: $WEIGHT_BOLD;
        font-size: 1.3rem;
      }

      #toc {

      }
    }
  }

  #content {
    width: $CONTENT_WIDTH * 1.4;
    max-width: $CONTENT_WIDTH_MAX - 80px;
    min-width: $CONTENT_WIDTH_MIN;
    box-sizing: border-box;
    padding: 0 $CONTENT_PADDING;
    margin-left: auto;

    @include transit(filter);
    @include onCompactView {
      width: 100%;
      margin: 0 auto;
      padding: 0 comp($CONTENT_PADDING);
      min-width: initial;
    }
    @include onWideView {
      max-width: $CONTENT_WIDTH_MAX;
      width: 50%;
      margin-left: 0;
    }
    @media print {
      width: 100%;
      max-width: initial;
      min-width: initial;
      padding: $CONTENT_PADDING;
    }

    &.blur {
      filter: blur(20px) opacity(.4);
    }
  }

  #side-bar {
    max-width: $ASIDE_WIDTH_MIN;
    width: 100% - ($CONTENT_WIDTH * 1.4);
    box-sizing: border-box;
    padding: 0 $CONTENT_PADDING 0 2.5vw;
    margin-right: auto;
    min-width: $ASIDE_WIDTH_MIN;

    @media print {
      display: none;
    }
    @include onWideView {
      width: $ASIDE_WIDTH;
      padding: 0 ($CONTENT_PADDING * 3) 0 ($CONTENT_PADDING * 2.5);
      min-width: $ASIDE_WIDTH_MIN + $CONTENT_PADDING * 2;
      max-width: $ASIDE_WIDTH_MIN + $CONTENT_PADDING * 2;
    }
    @include onCompactView {
      z-index: 90;
      position: fixed;
      padding: ($MAIN_TOP_PADDING_C + 10px) ($CONTENT_PADDING + 10px) 0;
      top: 0;
      right: -1 * (93vw);
      width: 92vw;
      height: 100vh;
      box-shadow: $RADBOX_SHADOW;
      background-color: $COLOR_INV_H;
      min-width: initial;
      overflow-y: auto;

      @include transit(right, box-shadow, background-color);

      &.visible {
        right: 0;
        outline-color: $COLOR_INV_T;
      }

      & > :last-child {
        padding-bottom: 2 * comp($CONTENT_PADDING);
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-event {
  pointer-events: none;
}

.no-print {
  @include noPrint;
}

.no-transparency {
  opacity: 1 !important;
}

.speak-only {
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  position: absolute;
  text-indent: -101vw;
}

@keyframes boundUp {
  0% { transform: translateY(0); }
  25% { transform: translateY(100%); }
  60% { transform: translateY(-175%); opacity: 1; }
  61% { transform: translateY(-175%); opacity: 0; }
  62% { transform: translateY(175%); opacity: 0; }
  63% { transform: translateY(175%); opacity: 1; }
  92% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes shiney {
  0% { opacity: .8; }
  14% { opacity: .6; }
  27% { opacity: .8; }
  32% { opacity: .8; }
  41% { opacity: .4; }
  50% { opacity: .6; }
  56% { opacity: .8; }
  68% { opacity: .5; }
  74% { opacity: .6; }
  80% { opacity: .8; }
  88% { opacity: .4; }
  96% { opacity: .6; }
  100% { opacity: .8; }
}
