footer.global

  s_if_var_footer-hosted
    div#hosted-on
      span Hosted on TISTORY

  div#designed-by(data-i-am="[##_blogger_##]")
    a(href="https://github.com/wldh-g/prontera" target="_blank") Prontera
    | &nbsp;
    span designed by
    | &nbsp;
    a(href="https://www.wldh.org/" target="_blank") Jio

  div#copyright
    | ©&nbsp;
    s_if_var_url-home
      a(href="[##_var_url-home_##]" target="_blank")
        include ../others/author
    s_not_var_url-home
      span
        include ../others/author
