header.global.no-print

  a#identity.left.no-color.no-underline(href="/" title="[##_title_##]")
    s_if_var_logo-img
      img(src="[##_var_logo-img_##]" alt="[##_title_##] 아이덴티티" data-img-only="[##_var_logo-img-only_##]")
    s_not_var_logo-img-only
      span= "[##_title_##]"

  nav#menu.left
    | [##_blog_menu_##]

  //- #others - Just for bind two components to right-side
  div#others.right.flex

    ul#shortcuts
      s_if_var_url-home
        a#goto-home.no-color(href="[##_var_url-home_##]" target="_self" title="홈페이지로 이동")
          include ../icons/home
      s_if_var_url-github
        a#goto-github.no-color(href="[##_var_url-github_##]" target="_blank" title="깃허브 프로필 열기")
          include ../icons/github

    div#modarkbul(title="밝기 모드 전환")
      include ../icons/moon
      div.container
        div.border
          label.no-event
            input#is-dark(type="checkbox" name="is-dark")
      include ../icons/sun
