//- Encoding
meta(charset="UTF-8")

//- Stylization
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="[##_var_color-ul_##]")

//- Embedding sources
meta(name="author" content="[##_blogger_##]")
