doctype
html(lang="ko")

  head

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#ffffff")
    meta(name="author" content="[##_blogger_##]")

    script(async)
      | "use strict";
      |
      | window.PtAgent = navigator.userAgent.toLowerCase();
      | if (
      |   (navigator.appName === "Netscape" && window.PtAgent.indexOf("trident") !== -1)
      |   || window.PtAgent.indexOf("msie") !== -1
      | ) {
      |   if (document.cookie.indexOf("stillie") === -1) {
      |     var wannaUseIE = window.confirm("Internet Explorer는 공식적으로 폐기된 브라우저입니다.\n따라서 이 블로그는 Internet Explorer에서 제대로 보이거나 작동하지 않습니다.\n그래도 Internet Explorer로 방문하시겠습니까?");
      |     if (wannaUseIE === true) {
      |       document.cookie = "stillie=true";
      |     } else {
      |       alert("이전 페이지로 돌아갑니다.");
      |       history.back();
      |     }
      |   }
      | }
      |
      | (function () {
      |   var cq = document.cookie.split(";");
      |   cq.forEach(function (cr) {
      |     var c = cr.split("=");
      |     if ("modarkbul" === c[0].trim()) {
      |       if (c[1][0] === "t") {
      |         document.documentElement.style.setProperty("background-color", "#000000");
      |         document.documentElement.classList.add("dark");
      |       } else {
      |         document.documentElement.style.setProperty("background-color", "#faf9f8");
      |       }
      |     }
      |   });
      | })();
      |
      | window.PtConfig = {
      |   modarkbulDomain: '[##_var_cookie-domain_##]',
      |   hlColor: '[##_var_color-hl_##]',
      |   ulColor: '[##_var_color-ul_##]',
      |   pageType: '[##_body_id_##]',
      | };
      | window.PtQueue = {};
      | window.PtLateQueue = {};
      |
      | window.PtRegister = function (name, fn, lazy) {
      |   if (window.onload && window.PtLaunched) {
      |     window.PtLateQueue[name] = fn;
      |     window.PtStore[name] = {};
      |     try {
      |       fn(window.PtStore[name], window.PtConfig, function () {
      |         console.groupCollapsed('Result — ' + name);
      |         Array.from(arguments).forEach(console.log);
      |         console.groupEnd();
      |       });
      |     } catch (e) {
      |       console.debug(e);
      |     }
      |   } else {
      |     (lazy ? PtLateQueue : PtQueue)[name] = fn;
      |   }
      | };
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js" defer)
    script(src="./images/onload.js" async)
    script(src="./images/functions.js" defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML&locale=ko" async)
    script(type="text/x-mathjax-config")
      | MathJax.Hub.Config({
      |   jax: ["input/TeX", "output/CommonHTML"],
      |   tex2jax: {
      |     inlineMath: [['$', '$']],
      |     displayMath: [['$$', '$$']],
      |     skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
      |     processEscapes: true
      |   }
      | });
      | MathJax.Hub.Queue(function () {
      |   var args = arguments;
      |   window.PtRegister(
      |     "mathjax", function (w, c, end) { end(Array.from(args)); }
      |   );
      | });

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=swap")
    link(rel="stylesheet" href="./style.css")
    style(type="text/css")
      | * { --color-hl: [##_var_color-hl_##]; --color-hl-inv: var(--color-[##_var_color-hl-inv_##]); }

    title= "[##_page_title_##]"
    link(rel="alternate" type="application/rss+xml" href="[##_rss_url_##]" title="[##_title_##]")

  //- About body_id
    * tt-body-index = main page
    * tt-body-page = an article, a page
    * tt-body-guestbook = guestbook page
    * tt-body-tag = tag page, list of articles in specified tag
    * tt-body-category = list of articles in specified category
    * tt-body-search = list of articles which are results of search

  body#top(data-page-type="[##_body_id_##]"): s_t3

    include global/header

    main

      include global/toc

      div#content.left

        include global/notice

        include content-body/list
        include content-body/page
        include content-body/post
        include content-body/tags
        include content-body/guestbook

        include global/paginator

      aside#side-bar.right.no-print
        s_sidebar

          include content-side/about-myself
          include content-side/search
          include content-side/categories
          include content-side/notices
          include content-side/recents
          include content-side/links
          include content-side/twitter

    include global/footer

    include global/goto-top

    textarea#copy-helper
