@import "variables";

// Compact View
$CV_DIVISOR: 1.4;

@function comp($prop) {
  @return $prop / $CV_DIVISOR;
}

@mixin onCompactView {
  @media screen and (max-width: #{$CONTENT_WIDTH_MIN + $ASIDE_WIDTH_MIN - 1px}) {
    @content;
  }
}
@mixin onSemiCompactView {
  @media screen and (max-width: 799px) {
    @content;
  }
}
@mixin onSuperCompactView {
  @media screen and (max-width: 419px) {
    @content;
  }
}
@mixin onUltraCompactView {
  @media screen and (max-width: 329px) {
    @content;
  }
}

// Wide View - Only supported in post type, for toc
@mixin onWideView {
  @media screen and (min-width: #{$CONTENT_WIDTH_MIN + $ASIDE_WIDTH_MIN * 2}) {
    @content;
  }
}
@mixin onWidePage {
  @at-root body[data-page-type="tt-body-page"] & {
    @include onWideView {
      @content;
    }
  }
}

// Print View
@mixin noPrint {
  @media print {
    display: none !important;
  }
}
