@import "colors";
@import "variables";

$RADBOX_RADIUS: 3.5px;
$RADBOX_SHADOW: 0 0 0.5px 0 #{$COLOR_SHADOW_T}, 0 0.5px 2.4px 0 #{$COLOR_SHADOW_T},
  0 0.15px 2px 0 #{$COLOR_SHADOW_T};
$RADBOX_SHADOW_H: 0 0 1px 0 #{$COLOR_SHADOW_T}, 0 0.5px 3.2px 0 #{$COLOR_SHADOW_T},
  0 0.15px 4px 0 #{$COLOR_SHADOW_T};

@mixin radboxBase {
  box-shadow: $RADBOX_SHADOW;
  border-radius: $RADBOX_RADIUS;
  background-color: $COLOR_INV_H;
}
@mixin radboxBaseH {
  box-shadow: $RADBOX_SHADOW;
  border-radius: $RADBOX_RADIUS;
  background-color: $COLOR_INV_XH;
}
@mixin radbox($addiTransit...) {
  @if length($addiTransit) == 0 {
    @include transit(background-color, box-shadow);
  } @else {
    transition: #{getTransitProperty((background-color, box-shadow))},
      #{getTransitProperty($addiTransit)};
  }

  @include radboxBase;
}
@mixin radboxH($addiTransit...) {
  @if length($addiTransit) == 0 {
    @include transit(background-color, box-shadow);
  } @else {
    transition: #{getTransitProperty((background-color, box-shadow))},
      #{getTransitProperty($addiTransit)};
  }

  @include radboxBaseH;
}
@mixin radboxButton($addiTransit...) {
  cursor: pointer;

  @if length($addiTransit) == 0 {
    @include transit(box-shadow, transform, background-color);
  } @else {
    transition: #{getTransitProperty((box-shadow, transform, background-color))},
      #{getTransitProperty($addiTransit)};
  }

  @include radboxBase;

  &:hover,
  &:active,
  &:focus {
    box-shadow: $RADBOX_SHADOW_H;
    transform: scale(#{$EFFECT_PUSH_SCALE});
  }
}
@mixin radboxButtonH($addiTransit...) {
  cursor: pointer;

  @if length($addiTransit) == 0 {
    @include transit(box-shadow, transform, background-color);
  } @else {
    transition: #{getTransitProperty((box-shadow, transform, background-color))},
      #{getTransitProperty($addiTransit)};
  }

  @include radboxBaseH;

  &:hover,
  &:active,
  &:focus {
    box-shadow: $RADBOX_SHADOW_H;
    transform: scale(#{$EFFECT_PUSH_SCALE});
  }
}
