$TRANSIT_PROPERTY: 0.32s ease-in-out;

@function getTransitProperty($props) {
  $tsFullText: "";
  $tsSeparator: "";
  @each $prop in $props {
    $tsFullText: $tsFullText + $tsSeparator + $prop + " " + $TRANSIT_PROPERTY;
    $tsSeparator: ", ";
  }
  @return #{$tsFullText};
}

@mixin transit($props...) {
  transition: getTransitProperty($props);
}
@mixin transitImportant($props...) {
  transition: getTransitProperty($props) !important;
}
