// Text Styles
$FONT_SIZE: 16px;
$LINE_HEIGHT: 1.4;
$WEIGHT_NORMAL: 400;
$WEIGHT_BOLD: 700;
$FONT_FAMILY_DEFAULT: "Noto Sans CJK KR", "Noto Sans KR", "Helvetica Neue",
  Arial, sans-serif;
$FONT_FAMILY_MONOSPACE: "Noto Sans Mono CJK KR", "Noto Sans Mono", "Roboto Mono",
  "Noto Sans CJK KR", "Noto Sans KR", monospace;

// Lengths
$HEADER_HEIGHT: 72px;
$CONTENT_WIDTH_MAX: 945px;
$CONTENT_WIDTH: 50%;
$CONTENT_WIDTH_MIN: 755px;
$CONTENT_PADDING: 20px;
$ASIDE_WIDTH: (100% - $CONTENT_WIDTH) / 2;
$ASIDE_WIDTH_MIN: 405px;
$VIEWPORT_MARGIN_HORI: 3vw;
$VIEWPORT_MARGIN_VERT: 25px;

// Effects
$EFFECT_PUSH_SCALE: 0.92;
$EFFECT_PULL_SCALE: 1.3;
