s_sidebar_element
  // 내 정보
  section#about-myself.sp-container

    a.rss(href="[##_rss_url_##]" target="_blank" title="RSS 받아보기")
      include ../icons/rss-inner
      include ../icons/rss-outer
      s_if_var_img-avatar
        img.avatar(src="[##_var_img-avatar_##]")

    div.info
      div.author
        include ../others/author
      s_if_var_name-alter: div.alternative
        | [##_var_name-alter_##]
      div.description
        | [##_desc_##]
