s_sidebar_element
  // 바깥 고리 (링크)
  section#links.sp-container
    div.title 바깥 고리
    ul.list
      s_link_rep: li
        a(href="[##_link_url_##]" target="_blank")
          span.item [##_link_site_##]
          br
          span.url.meta [##_link_url_##]
