s_sidebar_element
  // 바깥 고리 (링크)
  section#links
    div.sp-title= "바깥 고리"
    ul.sp-list
      s_link_rep: li.item
        a(href="[##_link_url_##]" target="_blank")
          span.title= "[##_link_site_##]"
          div.meta
            span.url= "[##_link_url_##]"
