@import "../common";

// ? About body_id
// tt-body-index = main page
// tt-body-page = an article, a page
// tt-body-guestbook = guestbook page
// tt-body-tag = tag page, list of articles in specified tag
// tt-body-category = list of articles in specified category
// tt-body-search = list of articles which are results of search

// Article post type
body[data-page-type="tt-body-page"] {
  #content article {
    display: block;
    box-sizing: border-box;
    padding: 0 ($LINE_HEIGHT * $CONTENT_PADDING);

    @include radbox;
    @include onCompactView {
      padding: 0 $CONTENT_PADDING;
    }
  }
}
